# Secrets
.env

# PyCharm stuff:
.idea/

# Flask stuff:
__pycache__/
templates/
static/
instance/

# SQLite stuff:
database.db

# React stuff
frontend/README.md
frontend/yarn.lock
frontend/node_modules/
frontend/src/utils/aapl.csv
